name: CI

on:
  push:
    branches:
      - 'main'
      - '*.*'
    tags:
      - 'v*'
  pull_request:
  workflow_dispatch:

jobs:
  core:
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      posargs: '--ascii-dbase-root ~/.chianti'
      toxdeps: tox-pypi-filter
      envs: |
        - linux: py312
      coverage: 'codecov'
      cache-path: ~/.chianti
      cache-key: chianti-${{ github.event.number }}
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  tests:
    needs: [core]
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      posargs: '--ascii-dbase-root ~/.chianti'
      toxdeps: tox-pypi-filter
      envs: |
        - macos: py311
        - windows: py310
      coverage: 'codecov'
      cache-path: ~/.chianti
      cache-key: chianti-${{ github.event.number }}
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  test_full_database:
    if: |
      (
        github.event_name != 'pull_request' && (
          github.ref_name != 'main' ||
          github.event_name == 'workflow_dispatch'
        )
      ) || (
        github.event_name == 'pull_request' &&
        contains(github.event.pull_request.labels.*.name, 'Run full database tests')
      )
    needs: [tests]
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      posargs: '--ascii-dbase-root ~/.chianti --include-all-files'
      toxdeps: tox-pypi-filter
      envs: |
        - linux: py311
      cache-path: ~/.chianti
      cache-key: chianti-${{ github.event.number }}

  test_database_v7:
    if: |
      (
        github.event_name != 'pull_request' && (
          github.ref_name != 'main' ||
          github.event_name == 'workflow_dispatch'
        )
      ) || (
        github.event_name == 'pull_request' &&
        contains(github.event.pull_request.labels.*.name, 'Run v7 tests')
      )
    needs: [tests]
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      posargs: '--ascii-dbase-root ~/.chianti --ascii-dbase-url http://download.chiantidatabase.org/CHIANTI_v7.1.4_database.tar.gz --disable-file-hash --skip-version-check'
      toxdeps: tox-pypi-filter
      envs: |
        - linux: py311

  test_database_v9:
    if: |
      (
        github.event_name != 'pull_request' && (
          github.ref_name != 'main' ||
          github.event_name == 'workflow_dispatch'
        )
      ) || (
        github.event_name == 'pull_request' &&
        contains(github.event.pull_request.labels.*.name, 'Run v9 tests')
      )
    needs: [tests]
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      posargs: '--ascii-dbase-root ~/.chianti --ascii-dbase-url http://download.chiantidatabase.org/CHIANTI_v9.0.1_database.tar.gz --disable-file-hash --skip-version-check'
      toxdeps: tox-pypi-filter
      envs: |
        - linux: py311

  docs:
    needs: [tests]
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/tox.yml@v1
    with:
      toxdeps: tox-pypi-filter
      envs: |
        - linux: build_docs-gallery
          python-version: '3.12'

  publish:
    # Build wheels when pushing to any branch except main
    # publish.yml will only publish if tagged ^v.*
    if: |
      (
        github.event_name != 'pull_request' && (
          github.ref_name != 'main' ||
          github.event_name == 'workflow_dispatch'
        )
      ) || (
        github.event_name == 'pull_request' &&
        contains(github.event.pull_request.labels.*.name, 'Run publish')
      )
    needs: [tests,test_full_database]
    uses: OpenAstronomy/github-actions-workflows/.github/workflows/publish_pure_python.yml@main
    with:
      test_extras: 'dev'
      test_command: 'pytest -p no:warnings --doctest-rst --pyargs fiasco'
      submodules: false
      python-version: '3.12'
    secrets:
      pypi_token: ${{ secrets.PYPI_TOKEN }}
